.App {
  text-align: center;
}

.cities-display
{
  display: grid;
  border: 1px solid black;
  width: 60rem;
  margin: auto;
}

.city-button
{
  height: 3rem;
}

.city-input
{
  height: 2rem;
  min-width: 60rem;
}

.weather-button
{
  height: 2.4rem;
}

.search-form
{
  display: flex;
  flex-direction: column;
}

form
{
  display: flex;
  place-content: center;
  margin-left: 5%;
}