body{
  background: lightslategrey;
}

.App {
  text-align: center;
}

.cities-display
{
  display: grid;
  border: 1px solid black;
  width: 60rem;
  margin: auto;
}

.city-button
{
  height: 3rem;
}

.city-input
{
  height: 2rem;
  min-width: 60rem;
}

.weather-button
{
  height: 2.4rem;
}

.search-form
{
  display: flex;
  flex-direction: column;
}

form
{
  display: flex;
  place-content: center;
  margin-left: 5%;
}

.weather-display
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
              "Icon Title Title Title"
              "Icon Weather Weather Weather"
              "Temp Feels Humidity Wind";
  width: 30%;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid black;
  background: linear-gradient(90deg, #a5ced2, #3c5776);
}

.weather-icon
{
  grid-area: Icon;
}

.city-name
{
  grid-area: Title;
  font-size: 2rem;
  margin-left: -30%;
  text-decoration: underline;
}

.city-weather
{
  grid-area: Weather;
  font-size: 3rem;
  margin-top: 0%;
  margin-left: -30%;
}

.city-temperature
{
  grid-area: Temp;
}

.city-feels-like
{
  grid-area: Feels;
}

.city-humidity
{
  grid-area: Humidity;
}

.city-wind
{
  grid-area: Wind;
}

.text-color
{
  color:white;
}

@media screen and (max-width: 768px)
{
  .city-input
  {
    min-width: 40rem;
  }

  .weather-icon
  {
    width: 120%;
  }

  .city-name
  {
    font-size: 1.3rem;
    text-align: left;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }

  .city-weather
  {
    font-size: 2rem;
    margin-top: -1rem;
  }

  .weather-display
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                "Icon Title Title "
                "Icon Weather Weather"
                "Temp Temp Temp"
                "Feels Feels Feels"
                "Humidity Humidity Humidity"
                "Wind Wind Wind";
  }

  .city-temperature
  {
    margin-top: -1rem;
  }

  .city-feels-like
  {
    margin-top: -1rem;
  }

  .city-humidity
  {
    margin-top: -1rem;
  }

  .city-wind
  {
    margin-top: -1rem;
  }

  .cities-display
  {
    width: 100%;
  }
}

@media screen and (max-width: 380px)
{
  .city-input
  {
    min-width: 20rem;
  }

  .weather-icon
  {
    width: 120%;
  }

  .city-name
  {
    font-size: 1.3rem;
    text-align: left;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }

  .city-weather
  {
    font-size: 1.2rem;
    margin-top: -0.2rem;
  }

  .weather-display
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                "Icon Title Title "
                "Icon Weather Weather"
                "Temp Temp Temp"
                "Feels Feels Feels"
                "Humidity Humidity Humidity"
                "Wind Wind Wind";
  }

  .city-temperature
  {
    margin-top: -1rem;
  }

  .city-feels-like
  {
    margin-top: -1rem;
  }

  .city-humidity
  {
    margin-top: -1rem;
  }

  .city-wind
  {
    margin-top: -1rem;
  }

  .cities-display
  {
    width: 100%;
  }

  .text-color
  {
    font-size: 100%;
  }
}

